<section class="l-body">
  <ng-container *ngIf="activeOrg$ | async as activeOrg">
    <header class="page-header">
      <h1 class="mat-headline-4" i18n>Projects</h1>
      <a mat-flat-button [routerLink]="['new']" color="primary" i18n
        >Create New Project</a
      >
    </header>
    <div *ngIf="projectsForActiveOrg$ | async as projects">
      <gt-empty-projects
        *ngIf="projects.length === 0"
        [activeOrgOnly]="true"
      ></gt-empty-projects>
    </div>

    <div class="project-card-wrapper">
      <gt-project-card
        *ngFor="let project of projectsForActiveOrg$ | async"
        [cardLink]="project.slug"
        [title]="project.name"
        [descriptionList]="[
          { key: 'organization', value: activeOrg.name },
          { key: 'date created', value: (project.dateCreated | date)! }
        ]"
        [isMember]="project.isMember"
        [secondaryButton]="{
          link: project.slug,
          icon: 'settings',
          text: 'Settings'
        }"
      ></gt-project-card>
    </div>
  </ng-container>
</section>
